/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700&subset=latin-ext');

body{
    background-color: #fdd537;
    font-family: 'Josefin Sans', sans-serif;
    color: #222;
    font-weight: bold;
    background-image: url('assets/img/bg-Psyduck.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-position-y: 200px;
    
}